@import "../styles";
@import "./material-icon";

.accordion {
  font-family: $sans-serif-stack;
}

.accordion--details {
  margin-top: 20px;
}

.accordion__button {
  border-bottom: 1px dotted $deep-navy;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  color: $deep-navy;
  padding: 12px 0px;
  cursor: pointer;
  &:focus {
    outline: none;
    border-bottom: 1px solid $deep-navy;
    font-weight: $font-weight-heavy;
  }
  &::after {
    @extend .material-icons;
    content: "keyboard_arrow_down";
    float: right;
    line-height: 12px;
  }
  &[aria-expanded=true] {
    &::after {
      content: "keyboard_arrow_up";
    }
  }
}

.panel__heading {
  font-family: inherit;
  font-size: 12px;
  font-weight: $font-weight-extra-bold;
  color: $dark-gray;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 10px;
}

.panel__text {
  font-family: inherit;
  font-size: 15px;
  color: $dark-gray;
  line-height: inherit;
  white-space: pre-line;
}

.panel__text a {
  color: $dark-gray;
  text-decoration: underline;
  font-weight: $font-weight-normal;
}

.panel__text--narrative {
  @extend .panel__text;
  line-height: 25px;
}

.panel__list--unstyled {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  font-family: inherit;
}
