@import "../styles";

.agent__attributes {
  width: 100%;
  float: left;
  margin-left: -$gutters-default;
  margin-right: -$gutters-default;
}

.agent-attribute {
  @include grid-column(12);
  margin-bottom: 24px;
  @include md-up  {
    @include grid-column(4);
  }
  @include lg-up {
    @include grid-column(3);
    margin-bottom: 27px;
  }
}

.agent-attribute--full-width {
  @include grid-column(12);
}
