@import "../styles";

.badge {
  @include tile-hit-count-text;
  border-radius: 12px;
  border: none;
  padding: 6px 8px;
  margin-right: 4px;
  transition: $transition-default;
}

.badge--orange {
  background: $red-brown;
}

.badge--blue {
  background-color: $deep-blue;
}
