@import "../styles";

@mixin button-text {
  font-family: $sans-serif-stack;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

@mixin icon-margin-right { // adds margin to align icon to the left of button the label
  margin: 0px 3px 3px 0px;
}

@mixin icon-margin-left { // adds margin to align icon to the right of the button label
  margin: 0px 0px 3px 3px;
}

.btn {
  @include button-text;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  &:disabled {
    cursor: unset;
  }
}

.btn--block {
  display: flex;
}

.btn--sm {
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  padding: 8px 10px;
  margin-right: 10px;
  transition: $transition-default;
  & .material-icons {
    @include icon-margin-right;
    font-size: 16px;
  }
}

.btn--md  {
  font-size: 12px;
  line-height: 15px;
  padding: 13px 14px;
  & .material-icons {
    @include icon-margin-right;
    font-size: 20px;
  }
}

.btn--lg {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 18px;
  margin-bottom: 12px;
  & .material-icons {
    font-size: 20px;
  }
}

.btn--blue {
  background: $deep-blue;
  color: $pure-white;
  border: 1px solid $deep-blue;
  &:hover {
    background: $dark-blue;
    border: 1px solid $dark-blue;
    color: $pure-white; //for links styled as buttons
  }
}

.btn--navy {
  background: $deep-navy;
  color: $pure-white;
  border: 1px solid $deep-navy;
  &:hover {
    background: $deep-blue;
    border: 1px solid $deep-blue;
    color: $off-white;
  }
}

.btn--orange {
  background: $burnt-orange;
  color: $pure-white;
  border: 1px solid $burnt-orange;
  &:hover {
    background: $med-brown;
    border: 1px solid $med-brown;
    color: $off-white;
  }
  &:disabled {
    background: $burnt-orange;
    color: $pure-white;
    opacity: .7;
  }
}

.btn--transparent {
  background: transparent;
  border: 1px solid $light-med-gray;
  color: $med-gray;
}

.btn--gray {
  background: $off-white;
  color: $med-gray;
  border: 1px solid $light-med-gray;
  &:hover {
    background: $lighter-gray;
    color: $med-gray;
  }
}

.btn--dark-gray {
  background: $light-med-gray;
  color: $pure-white;
  border: 1px solid $light-med-gray;
  &:hover {
    background: $orange-gray;
    color: $pure-white;
  }
}

.btn--back {
  @extend .btn--gray;
  @extend .btn--sm;
  margin-top: 20px;
  @media screen and (min-width: $break-md)  {
    margin-top: 30px;
  }
}

.btn--search {
  @extend .btn--block;
  @extend .btn--orange;
  border-radius: 0px;
  height: 62px;
  width: 66px;
  border: 1px solid $med-brown;
  & .material-icons {
    font-size: 36px;
    line-height: 58px;
    width: 58px;
  }
}

.btn--search-more {
  @extend .btn--orange;
  @extend .btn--sm;
  margin-top: 15px;
  margin-bottom: 40px;
}

.btn--dropdown {
  display: flex;
  border-radius: 0;
  font-size: 12px;
  line-height: 21px;
  padding: 10px 14px;
  margin: 0;
  & .material-icons {
    font-size: 21px;
    margin-right: 15px;
  }
}

.btn--filter {
  padding: 12px 16px;
  background: $pale-blue;
  border: 1px solid $light-blue;
  font-size: 14px;
  text-transform: none;
  letter-spacing: unset;
  & .material-icons {
    @include icon-margin-right;
    font-size: 18px;
  }
}

@mixin records-btn {
  @extend .btn--sm;
  padding: 8px;
  z-index: 998;
  &:hover {
    color: $pure-white;
  }
  & .material-icons {
    @include icon-margin-left;
  }
  &.saved {
    @extend .btn--dark-gray;
  }
}

.btn-add--content {
  @include records-btn;
  @extend .btn--orange;
  @media screen and (min-width: $break-md) {
    position: relative;
  }
}

.btn-launch--content {
  @include records-btn;
  @extend .btn--blue;
  margin-right: 10px;
}

@mixin records-detail-btn {
  @include records-btn;
  @extend .btn--orange;
  width: 100%;
  font-size: 10px;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: $break-md) {
    width: unset;
  }
}

.btn-add--detail {
  @include records-detail-btn;
}

.btn-launch--detail {
  @include records-detail-btn;
  @extend .btn--orange;
  box-sizing: border-box;
  @media screen and (min-width: $break-md) {
    margin-right: 10px;
  }
}

.btn-download--detail {
  @include records-detail-btn;
  @extend .btn--orange;
  margin-bottom: 10px;
}
