@import "../styles";

@mixin button-block  {
  display: flex;
}

@mixin button-text {
  font-family: $sans-serif-stack;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn-block {
  @include button-block;
}

.btn--sm {
  @include button-text;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  padding: 6px 8px 8px 10px;
  transition: $transition-default;
}

.btn--md  {
  @include button-text;
  border-radius: 3px;
  font-size: 12px;
  padding: 13px 14px 15px 14px;
}

.btn--lg {
  @include button-text;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  padding: 18px;
}

.btn--blue {
  background: $deep-blue;
  color: $pure-white;
  &:hover {
    background: $dark-blue;
  }
}

.btn--orange {
  background: $burnt-orange;
  color: $pure-white;
  &:hover {
    background: $med-brown;
  }
}

.btn--transparent {
  background: transparent;
  border: 1px solid $light-med-gray;
  color: $med-dark-gray;
}

.btn--gray {
  background: $off-white;
  color: $med-dark-gray;
  border: 1px solid $light-med-gray;
  &:hover {
    background: $lighter-gray;
  }
}
