@import "../styles";

@mixin button-text {
  font-family: $sans-serif-stack;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}

.btn {
  @include button-text;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  &:disabled {
    cursor: unset;
  }
}

.btn--block {
  display: flex;
}

.btn--sm {
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  padding: 6px 8px 8px 10px;
  margin-right: 10px;
  transition: $transition-default;
  & .material-icons {
    font-size: 16px;
  }
}

.btn--md  {
  font-size: 12px;
  line-height: 15px;
  padding: 13px 14px 15px 14px;
  & .material-icons {
    font-size: 20px;
  }
}

.btn--lg {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 18px;
  margin-bottom: 12px;
  & .material-icons {
    font-size: 20px;
  }
}

.btn--blue {
  background: $deep-blue;
  color: $pure-white;
  border: none;
  &:hover {
    background: $dark-blue;
  }
}

.btn--orange {
  background: $burnt-orange;
  color: $pure-white;
  border: none;
  &:hover {
    background: $med-brown;
    color: $off-white;
  }
  &:disabled {
    background: $burnt-orange;
    color: $pure-white;
    opacity: .7;
  }
}

.btn--transparent {
  background: transparent;
  border: 1px solid $light-med-gray;
  color: $med-dark-gray;
}

.btn--gray {
  background: $off-white;
  color: $med-dark-gray;
  border: 1px solid $light-med-gray;
  &:hover {
    background: $lighter-gray;
    color: $med-dark-gray;
  }
}

.btn--back {
  @extend .btn--gray;
  @extend .btn--sm;
  margin-top: 20px;
  @media screen and (min-width: $break-md)  {
    margin-top: 30px;
  }
}

.btn--search {
  @extend .btn--block;
  @extend .btn--orange;
  border-radius: 0px;
  height: 62px;
  width: 66px;
  border: 1px solid $med-brown;
  & .material-icons {
    font-size: 36px;
    line-height: 58px;
    width: 100%;
  }
}

.btn--search-more {
  @extend .btn--orange;
  @extend .btn--sm;
  margin-top: 15px;
  margin-bottom: 40px;
}

.btn--dropdown {
  display: flex;
  border-radius: 0;
  font-size: 12px;
  line-height: 21px;
  padding: 10px 14px;
  margin: 0;
  & .material-icons {
    font-size: 21px;
    margin-right: 15px;
  }
}
