@import "../base/utilities";

.captcha {
  margin: 10px 0px;
  max-width: 250px;
  & div > div > div {
    position: relative;
    transform-origin: left center;
    @media screen and (min-width: $break-lg) and (max-width: 1350px) {
      left: 50%;
      transform: scale(0.87) translateX(-50%);
      transform-origin: left center;
    }
  }
}
