@import "../styles";

@mixin collection-hits-text {
  font-family: $sans-serif-stack;
  font-size: 16px;
}

.collection-hits__info {
  @include collection-hits-text;
  border-top: 1px solid $neutral-sand;
  padding: 30px;
  float: left;
}

.collection-hits__title {
  @include collection-hits-text;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-gray;
  letter-spacing: 0.5px;
  float: left;
  width: 100%;
  &:not(:first-of-type) {
    padding-top: 12px;
  }
}

.collection-hits__link {
  @include collection-hits-text;
  font-family: inherit;
  line-height: normal;
  float: left;
  margin: 0;
  width: 100%;
}

.collection-hits__text {
  @include collection-hits-text;
}

.collection-child {
  position: relative;
  float: left;
  width: 100%;
  padding: 32px 30px;
  box-sizing: border-box;
  border-top: 1px solid $neutral-sand;
  &:last-of-type {
    border-bottom: 1px solid $neutral-sand;
  }
  & .tile__hit-count {
    position: absolute;
    top: 0;
    right: 30px;
  }
}

.collection-child__title {
  @include collection-hits-text;
  font-size: 18px;
  color: $dark-gray;
  margin: 0;
}
