@import "../styles";

.collection__detail {
  background-color: $pale-blue;
  width: 100%;
  @media screen and (min-width: $break-lg) {
    width: 33%;
  }
}

.collection__title {
  font-family: $sans-serif-stack;
  font-size: 28px;
  color: $deep-navy;
}
