@import "../styles";
@import "./buttons";

.toggle-wrapper {
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  @include lg-up {
    display: none;
  }
}

.toggle-context {
  @extend .btn--lg;
  @extend .btn--orange;
  margin-bottom: 0;
  border-radius: 0 !important;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.toggle-context--active {
  opacity: 0;
  @include md-up {
    opacity: 1;
    background: $off-white;
    color: $dark-gray;
    &:hover, &:focus {
      background: $neutral-sand;
      color: $dark-gray;
    }
  }
}
