@import "../styles";
@import "./buttons";

.mylist__actions {
  display: block;
  float: right;
}

.mylist__actions--dropdown {
  position: absolute;
  right: 0;
}

/* Hide Sign In, dropdown version */
nav.nav-right a#menu-item-1 {
  display: none;
}
/* Hide Sign In, bar version */
nav.nav-right a#raccess {
  display: none;
}
