@import "../styles";

/**
* Styles for search facets
* 1. Positions legend inside fieldset instead of on top border line.
* 2. Top padding calculated from top of facet items.
* 3. Remove default fieldset margin
**/
.modal__body--search fieldset {
  position: relative; /* 1 */
}

.facet {
  // font-family: $sans-serif-stack;
  // font-size: 14px;
  border-top: 1px solid $water-blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 20px 40px 30px 40px;
  padding: 44px 40px 30px 40px; /* 2 */
  margin-left: 0; /* 3 */
}

.facet:first-child {
  border: 0px;
  flex-direction: row;
}

.facet legend {
  position: absolute; /* 1 */
  top: 20px;
  padding: 0px;
}

.facet__title {
  // text-transform: uppercase;
  font-size: 12px;
  // font-weight: $font-weight-bold;
  margin: 0px;
}

.facet__items {
  overflow: hidden;
  transition: $transition-default;
  display: flex;
  flex-direction: column;
}

// .facet__input {
  // margin: 3px 0px;
  // float: left;
  // width: 100%;
  // & > label {
  //   float: left;
  // }
// }

.facet input[type=number] {
  padding: 7px 12px;
  width: 80px;
  float: left;
  margin-right: 13px;
  border-radius: 3px;
  border: 1px solid $night-grey;
  box-sizing: border-box;
}

.facet__show-hide {
  font-family: $sans-serif-stack;
  font-size: 12px;
  // font-weight: $font-weight-normal;
  color: $regal-blue;
  text-decoration: underline;
  appearance: none;
  border: none;
  background: none;
  letter-spacing: normal;
  text-transform: none;
  padding-left: 0;
  margin-top: 3px;
}
