@import "../styles";

.footer-primary {background: $neutral-sand;}
.footer-primary__text { @include footer-primary-text; }
.footer-primary__link { @include footer-primary-link; }

.footer-secondary {background: $deep-navy;}
.footer-secondary__text { @include footer-secondary-text; }
.footer-secondary__link { @include footer-secondary-link; }
.footer-secondary__list {
  list-style: none;
  padding: 0;
}
.footer-secondary__list-item {
  display: inline-block;
  padding-right: 28px;
}

.footer-primary__title {
  @include grid-column(12);
  @include footer-primary-title-text;
  width: 100%;
  margin: 60px 0 28px 0;
  padding-bottom: 0;
  .line-break {
    display: table;
  }
}

.footer-primary__address, .footer-primary__reading-room {
  @include grid-column(12);
  margin-bottom: 40px;
  margin-left: 0px;
  @include md-up {
    @include grid-column(6);
    margin-left: 0px;
    margin-bottom: 50px;
  }
  @include lg-up {
    @include grid-column(3);
    margin-left: 0px;
    margin-bottom: 50px;
  }
}

.footer-primary__social {
  @include grid-column(12);
  margin-left: 0px;
  margin-bottom: 30px;
  // TODO: needs more refactoring
  & a {
    margin-bottom: 18px;
    i {
      font-size: 22px;
      height: 44px;
      width: 44px;
      svg {
        padding-bottom: 4px;
      }
    }
  }
  @include md-up {
    @include grid-column(12);
    margin-left: 0px;
  }
  @include lg-up {
    @include grid-column(4);
    float: right;
    text-align: right;
    // margin-right: 40px;
  }
}

.footer-primary__policy-link:not(:first-child) {
  margin-left: 28px;
}

.footer-secondary__data {
  @include grid-column(12);
  width: 100%;
  @include lg-up {text-align: right;}
}
