@import "../styles";
// TODO: factor out typography
// TODO: make class names consistent

.rac-footer {
  justify-content: center;
  p, a { @include footer-text; }
  .primary {
    background: $neutral-sand;
    .address {
      @media screen and (min-width: $break-lg) {
        margin-left: 0px;
      }
    }
    h2.title {
      font-family: $sans-serif-stack;
      font-weight: 900;
      font-size: 21px;
      letter-spacing: 4px;
      line-height: 26px;
      text-transform: uppercase;
      margin: 60px 0 28px 0;
      padding-bottom: 0;
      @include grid-column(12);
    }
    .address, .reading-room {
      @include grid-column(12);
      margin-bottom: 40px;
      @media screen and (min-width: $break-md) {
        @include grid-column(6);
        margin-bottom: 50px;
      }
      @media screen and (min-width: $break-lg) {
        @include grid-column(3);
        margin-bottom: 50px;
      }
    }
    .social {
      @include grid-column(12);
      margin-bottom: 30px;
      & a {
        margin-bottom: 18px;
        i {
          font-size: 22px;
          height: 44px;
          width: 44px;
          svg {
            padding-bottom: 4px;
          }
        }
      }
      @media screen and (min-width: $break-md) {
        @include grid-column(12);
      }
      @media screen and (min-width: $break-lg) {
        @include grid-column(3);
        float: right;
        text-align: right;
        margin-right: 40px;
      }
    }
  }
  .secondary {
    display: flex;
    background: $deep-navy;
    color: $off-white;
    .data {
      @include grid-column(12);
    }
    ul {
      list-style: none;
      padding: 0;
      li  {
        display: inline-block;
        padding-right: 28px;
        a  {
          color: $pure-white;
        }
      }
    }
    @media screen and (min-width: $break-lg) {
      text-align: right;
      ul {
        li {
          padding-right: 0;
          padding-left: 28px;
        }
      }
    }
  }


  .policy-link:not(:first-child) {
    margin-left: 28px;
  }
}
