@import "../styles";

.header {
  background: $pure-white;
  color: $deep-navy;
  font-family: $sans-serif-stack;
}

.header-secondary {
  background: $deep-navy;
  padding: 0;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  @include md-up {
    height: 70px;
  }
  @include lg-up {
    height: 60px;
  }
}

.header-secondary__brand {
  margin-left: 20px;
  margin-top: 9px;
  z-index: 3;
  @include grid-column(11);
  box-sizing: border-box;
  @include md-up {
    margin-top:16px;
  }
  @include lg-up {
    @include grid-column(7);
    margin-top:21px;
    padding-left: 50px;
    & .subtitle {
      float: left;
      margin-top: 4px;
    }
  }
}

.header-secondary__title {
  @include secondary-header-title;
  margin: 0;
  @include md-up {
    margin-right: 10px;
  }
  @include lg-up {
      float: left;
    }
}

.header-secondary__subtitle {
  @include secondary-header-subtitle;
  margin: 0;
  @include lg-up {
    float: left;
    margin-top: 4px;
  }
}
