@import "../styles";

.header {
  background: $pure-white;
  color: $deep-navy;
  font-family: $sans-serif-stack;
}

.header-secondary {
  background: $deep-navy;
  padding: 0;
  height: 60px;
  width: 100%;
  @media screen and (min-width: $break-md) {
    height: 70px;
  }
  @media screen and (min-width: $break-lg) {
    height: 60px;
  }
}

.header-secondary__brand {
  margin-left: 20px;
  margin-top:9px;
  z-index: 3;
  @include grid-column(7);
  @media screen and (min-width: $break-md) {
    margin-top:16px;
    @include grid-column(6);
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(7);
    margin-top:21px;
    margin-left: 80px;
    & .subtitle {
      float: left;
      margin-top: 4px;
    }
  }
}

.header-secondary__title {
  @include secondary-header-title;
  margin: 0;
  @media screen and (min-width: $break-md) {
    margin-right: 10px;
  }
  @media screen and (min-width: $break-lg) {
      float: left;
    }
}

.header-secondary__subtitle {
  @include secondary-header-subtitle;
  margin: 0;
  @media screen and (min-width: $break-lg) {
    float: left;
    margin-top: 4px;
  }
}
