@import "../styles";

.hero {
  @include grid-column(12);
  margin-top: 10px;
  padding: 30px;
  @media screen and (min-width: $break-md) {
    margin-top: 113px;
  }
  @media screen and (min-width: $break-lg) {
    margin-top: 103px;
  }
}

.hero__logo {
  height: auto;
  text-align: left;
  img {
    width: 85px;
    @media screen and (min-width: $break-md) {
      width: 120px;
    }
    @media screen and (min-width: $break-lg) {
      width: 160px;
    }
  }
  @media screen and (min-width: $break-md) {
    @include grid-column(3);
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(2);
    @include grid-push(2);
  }
}

.hero__text {
  @media screen and (min-width: $break-md) {
    @include grid-column(9)
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(8);
  }
}