@import "../styles";

.hit-count {
  @include tile-hit-count-text;
  background: $red-orange;
  border-radius: 2px;
  border: none;
  padding: 7px 8px 5px 8px;
  transition: $transition-default;
}


.hit-count--tile {
  @include tile-hit-count-text;
  position: absolute;
  order: 1;
  top: 0;
  right: 20px;
  border-radius: 0 0 2px 2px;
  cursor: pointer;
}

.hit-count--records {
  height: 13px;
}

.hit-count--collection-modal {
  position: absolute;
  top: 0;
  right: 30px;
}

.hit-count--records-context {

}
