@import "../styles";

@mixin input-text {
  font-family: $sans-serif-stack;
  color: $dark-gray;
}

@mixin placeholder-text {
  color: $dim-gray;
  font-size: 18px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  @include input-text;
  @include placeholder-text;
}

input:-ms-input-placeholder { /* IE 10+ */
  @include input-text;
  @include placeholder-text;

}
input::-ms-input-placeholder { /*Edge - only work on some properties */
  @include input-text;
  @include placeholder-text;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

select::-ms-expand {
  display: none; /* for IE 11 */
}

.hide-label label {
  @include visually-hidden;
}