@import "../styles";

@mixin input-text {
  font-family: $sans-serif-stack;
  color: $dark-gray;
}

@mixin placeholder-text {
  color: $med-gray;
  font-size: 18px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  @include input-text;
  @include placeholder-text;
}

input:-ms-input-placeholder { /* IE 10+ */
  @include input-text;
  @include placeholder-text;

}
input::-ms-input-placeholder { /*Edge - only work on some properties */
  @include input-text;
  @include placeholder-text;
}

[type=checkbox] {
  margin-right: 5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
}

select::-ms-expand {
  display: none; /* for IE 11 */
}

label {
  @include input-text;
}

.hide-label label {
  @include visually-hidden;
}

/* Base for label styling */
.checkbox:not(:checked),
.checkbox:checked {
  position: absolute;
  left: -9999px;
}
.checkbox:not(:checked) + label,
.checkbox:checked + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.checkbox:disabled + label {
  cursor: not-allowed;
}

/* checkbox aspect */
.checkbox:not(:checked) + label:before,
.checkbox:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0px;
  width: 16px; height: 16px;
}

/* checked mark aspect */
.checkbox:not(:checked) + label:after,
.checkbox:checked + label:after {
  content: '\2713';
  position: absolute;
  top: 0; left: 0;
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  transition: $transition-default;
  font-family: monospace;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.checkbox--blue:not(:checked) + label:before,
.checkbox--blue:checked + label:before {
  background-color: $pure-white;
  border: 1px solid $deep-navy;
}

.checkbox--blue:not(:checked) + label:after,
.checkbox--blue:checked + label:after {
  background-color: $deep-blue;
  border: 1px solid $deep-blue;
  color: $pure-white;
}

.checkbox--orange:not(:checked) + label:before,
.checkbox--orange:checked + label:before {
  background-color: $pure-white;
  border: 1px solid $med-brown;
}

.checkbox--orange:not(:checked) + label:after,
.checkbox--orange:checked + label:after {
  background-color: $burnt-orange;
  border: 1px solid $burnt-orange;
  color: $pure-white;
}

.checkbox:disabled + label:before {
  background-color: $lighter-gray;
  border: 1px solid $med-gray;
}

.checkbox:disabled + label {
  color: $med-gray;
}

.dp__wrapper {
  margin-bottom: 2px;
}

.dp__calendar {
  background-color: $pure-white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  z-index: 999;
  @include lg-up {
    right: 20px;
  }
}

.dp__top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.dp__month {
  font-weight: 700;
  padding: 0 16px;
  text-align: center;
  width: 200px;
}

.dp__button {
  border: 1px solid $light-gray;
  border-radius: 2px;
  color: $dark-gray;
  cursor: pointer;
  line-height: 1;
  padding: 2px 6px;
  & .material-icons {
    color: $med-gray;
  }
}

.dp__table {
  border-collapse: collapse;
  width: 100%;

  th, td {
    font-size: 14px;
    text-align: center;
    user-select: none;
  }

  th {
    color: $med-gray;
    font-weight: 400;
    line-height: 1.6;
  }

  td {
    cursor: pointer;
    height: 36px;
    line-height: 1;
    width: 36px;
    &:hover {
      background-color: $burnt-orange;
      color: $pure-white;
    }

    &[aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
    }

    &[aria-selected="true"] {
      background-color: $burnt-orange;
      color: $pure-white;
    }

    &:not(:empty) {
      border: 1px solid $light-gray;
    }
  }
}

.select__wrapper {
  position: relative;
}

.select__control {
  @include input-text;
  cursor: pointer;
  background-color: $pure-white;
  border-radius: 0px;
  text-align: left;
  & > .material-icons {
    position: absolute;
    pointer-events: none;
  }
}

.select__menu {
  position: absolute;
  background-color: $pure-white;
  border-radius: 0;
  box-sizing: border-box;
  list-style: none;
  top: 0px;
  padding-left: 0;
  margin: 0;
  width: 100%;
  z-index: 999;
  &.open {
    border: 1px solid $dark-gray;
  }
}

.select__option {
  font-family: $sans-serif-stack;
  cursor: pointer;
  &.is-focused {
    background: $lighter-gray;
  }
  &.is-selected {
    font-weight: 700;
    &::after {
      @extend .material-icons;
      font-size: 20px;
      content: "check";
      position: absolute;
      right: 18px;
      color: $burnt-orange;
    }
  }
}
