@import "../styles";

@mixin transition-row {
  &:hover {
    transform: scale(1.5);
    border: 1px solid $dark-gray;
  }
}

$minimap-width: 5%;

.minimap__wrapper {
  width: $minimap-width;
  height: calc(100vh - 60px);
  float: left;
  position: sticky;
  top: 60px;
  z-index: 998;
}

.minimap__wrapper--modal {
  width: 100%;
  height: calc(100% - 72px);
}

.minimap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.minimap__box {
  width: 12px;
  height: 12px;
  margin: 1px 1px 0 0;
  background-color: $neutral-sand;
  box-sizing: border-box;
}

.minimap__digital-hit {
  @include transition-row;
  background-color: $deep-blue;
  transition: $transition-default;
}

.minimap__hit {
  @include transition-row;
  background: $burnt-orange;
}
