
$confirm-modal-content-margin-lg: 30%;

.modal--confirm {
  // font-family: $sans-serif-stack;
  // position: absolute;
  // top: $confirm-modal-content-margin;
  // left: $confirm-modal-content-margin;
  // right: $confirm-modal-content-margin;
  // border: 1px solid $dark-gray;
  // background: rgb(255, 255, 255);
  // border-radius: 3px;
  // overflow: auto;
  // outline: none;
  bottom: auto;
  @include lg-up {
    top: $confirm-modal-content-margin-lg;
    left: $confirm-modal-content-margin-lg;
    right: $confirm-modal-content-margin-lg;
  }
}

.modal-message {
  padding: 40px;
  box-sizing: border-box;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-buttons--confirm {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
