@import "../styles";

.modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: $modal-content-margin;
  left: $modal-content-margin;
  right: $modal-content-margin;
  bottom: $modal-content-margin;
  border: 1px solid $dark-gray;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  overflow: auto;
  outline: none;
}

.modal-header {
  font-family: $sans-serif-stack;
  background-color: $dark-gray;
  padding: 16px 20px 10px 20px;
  float: left;
  width: calc(100% - #{$modal-content-margin});
}

.modal-header__title {
  font-size: 20px;
  color: $pure-white;
  float: left;
  margin: 0;
  border-bottom: none;
}

.modal-header__button  {
  color: $pure-white;
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-body {
  font-family: $sans-serif-stack;
  float: left;
  width: calc(100% - #{$modal-content-margin});
  @media screen and (min-width: $break-lg) {
    width: 100%
  }
}

.modal-list {
  width: 100%;
  float: left;
  padding: 30px 20px;
  box-sizing: border-box;
  @media screen and (min-width: $break-lg) {
    @include grid-column(8);
  }
}

.modal-form {
  float: left;
  width: 100%;
  background-color: $light-grayish-yellow;
  border-top: 1px solid $neutral-sand;
  padding: 30px 20px;
  box-sizing: border-box;
  @media screen and (min-width: $break-lg) {
    @include grid-column(4);
    float: right;
  }
}

.modal-form__input  {
  font-size: 14px;
  margin-bottom: 18px;
  & label {
    margin-bottom: 5px;
    float: left;
  }
  & input, textarea {
    width: 100%;
    border: 1px solid $dark-gray;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
  }
}

// Hacky hacks because the Google ReCAPTCHA has a set width
.modal-form__captcha {
  margin-bottom: 10px;
  max-width: 250px;
  @media screen and (min-width: 414px) {
    max-width: none;
  }
  & div > div > div {
    position: relative;
    left: 50%;
    transform: scale(0.8) translateX(-50%);
    transform-origin: left center;
    @media screen and (min-width: 414px) {
      transform: none;
      left: 0;
    }
  }
}

.modal-error {
  font-family: $sans-serif-stack;
  display: block;
  background: $burnt-orange;
  color: $pure-white;
  margin: 10px 0px;
  padding: 10px;
}
