.modal-content {
  font-family: $sans-serif-stack;
  position: absolute;
  border: 1px solid $dark-gray;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  overflow: auto;
  outline: none;
}

.modal-content--minimap {
  @extend .modal-content;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  @include md-up {
    top: 70px;
    right: 0;
    left: 50%;
  }
}

.modal-content--minimap-info {
  @extend .modal-content;
  top: 80px;
  left: 10%;
  right: calc(63% + 20px);
  bottom: unset;
}

.modal-header--minimap {
  background-color: $pure-white;
  margin: 14px;
}

.modal-header__title--minimap {
  @extend .modal-header__title;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 11px;
  padding-top: 5px;
}

.modal-body--minimap {
  padding: 24px;
  font-size: 13px;
  height: calc(100% - 23px);
}
