@import "../styles";

.modal-overlay, .modal-overlay--facet, .modal-overlay--hits {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: $transition-default;
}

.slide--right {
  transform: translateX(-400px);
}

.slide--right--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.slide--right--before-close {
  opacity: 0;
  transform: translateX(-400px);
}

.slide--left {
  transform: translateX(400px);
}

.slide--left--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.slide--left--before-close {
  opacity: 0;
  transform: translateX(400px);
}

.modal-content {
  position: absolute;
  top: $modal-content-margin;
  left: $modal-content-margin;
  right: $modal-content-margin;
  bottom: $modal-content-margin;
  border: 1px solid $dark-gray;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  overflow: auto;
  outline: none;
}

.modal-content--facet {
  @extend .modal-content;
  top: 0;
  left: 0;
  right: unset;
  width: 420px;
  height: 100vh;
  border-radius: 0px;
  border: 1px solid $dark-gray;
  background: $pale-blue;
}

.modal-content--hits {
  @extend .modal-content;
  left: unset;
  top: 0;
  right: 0;
  width: 420px;
  height: 100vh;
  border-radius: 0px;
  border: 1px solid $dark-gray;
  background: $pure-white;
}

.modal-header {
  font-family: $sans-serif-stack;
  color: $pure-white;
  background-color: $dark-gray;
  padding: 16px 20px 10px 20px;
  float: left;
  width: calc(100% - #{$modal-content-margin});
}

.modal-header--search {
  color: $deep-navy;
  background-color: none;
  padding: 30px 30px 40px 30px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.modal-header__title {
  color: inherit;
  font-size: 20px;
  float: left;
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.modal-header__button  {
  color: inherit;
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-body {
  font-family: $sans-serif-stack;
  float: left;
  width: calc(100% - #{$modal-content-margin});
  height: calc(100% - 60px);
  @media screen and (min-width: $break-lg) {
    width: 100%
  }
}

.modal-list {
  width: 100%;
  float: left;
  padding: 30px 20px;
  box-sizing: border-box;
  @media screen and (min-width: $break-lg) {
    @include grid-column(8);
  }
}

.modal-form {
  float: left;
  width: 100%;
  height: 100%;
  background-color: $light-grayish-yellow;
  border-top: 1px solid $neutral-sand;
  padding: 30px 20px;
  box-sizing: border-box;
  font-size: 14px;
  margin-bottom: 18px;
  @media screen and (min-width: $break-lg) {
    @include grid-column(4);
    float: right;
  }
}

.modal-form input, textarea, select {
  width: 100%;
  border: 1px solid $dark-gray;
  padding: 10px;
  box-sizing: border-box;
  &[type=checkbox] {
    width: unset;
    float: left;
  }

}

.modal-form label {
  margin-bottom: 5px;
  margin-top: 10px;
  float: left;
  &[for=costs] {
    float: none;
    & a {
      font-family: $sans-serif-stack;
      font-size: 14px;
    }
  }
}

.modal-form .is-invalid {
    border: 1px solid $burnt-orange;
}

.modal-form__buttons {
  margin: 20px 0;
}

.modal-form__error {
  border-radius: 3px;
  border: 1px solid $burnt-orange;
  font-family: $sans-serif-stack;
  font-size: 13px;
  font-style: italic;
  display: block;
  background: $light-orange;
  color: $dark-gray;
  margin: 10px 0px;
  padding: 10px;
}
