.modal-list {
  width: 100%;
  float: left;
  padding: 30px 20px;
  box-sizing: border-box;
  @media screen and (min-width: $break-lg) {
    @include grid-column(8);
  }
}

.modal-form {
  float: left;
  width: 100%;
  min-height: 100%;
  background-color: $off-white;
  border-top: 1px solid $neutral-sand;
  padding: 30px 20px;
  box-sizing: border-box;
  font-size: 14px;
  padding-bottom: 18px;
  @media screen and (min-width: $break-lg) {
    @include grid-column(4);
    float: right;
  }
}

.modal-form__intro {
  margin-bottom: 20px;
}

.form-group {
  float: left;
  margin: 10px 0;
  width: 100%;
  &:first-of-type {
    margin-top: 0;
  }
}

.modal-form input, .modal-form textarea, .modal-form select {
  width: 100%;
  border: 1px solid $dark-gray;
  padding: 10px;
  box-sizing: border-box;
  &[type=checkbox] {
    width: unset;
    float: left;
  }
}

.select__modal {
  position: relative;
  margin-bottom: 10px;
}

.select__modal .material-icons {
  font-size: 20px;
  top: 39px;
  right: 10px;
  position: absolute;
  pointer-events: none;
}

.modal-form label {
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0px;
  float: left;
  &[for=costs] {
    float: none;
    & a {
      font-family: $sans-serif-stack;
      font-size: 14px;
    }
  }
}

.modal-form .help-text {
  margin-bottom: 0;
}

.modal-form .is-invalid {
    border: 1px solid $burnt-orange;
}

.modal-form__buttons {
  float: left;
  margin: 20px 0;
  width: 100%;
}

.modal-form__error {
  border-radius: 3px;
  border: 1px solid $burnt-orange;
  font-family: $sans-serif-stack;
  font-size: 13px;
  font-style: italic;
  display: block;
  background: $light-orange;
  color: $dark-gray;
  margin: 10px 0px;
  padding: 10px;
}

input[type=checkbox] + label {
  font-weight: normal;
}
