@import "../styles";

.mylist main {
  @include grid-column(12);
  @media screen and (min-width: $break-lg) {
    @include grid-column(8);
  }
}

.mylist__header {
  @include grid-column(12);
  margin-top: 80px;
}

.mylist__export-actions {
  padding-bottom: 30px;
}

.mylist__sidebar {
  @include grid-column(4);
  background: $off-white;
  float: right;
  margin-left: 45px;
  margin-right: -45px;
  padding: 60px 0px 60px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  & > button {
    align-self: flex-start;
  }
}

.mylist__title {
  margin-top: 40px;
}
