@import "../styles";

.nav {
  text-align: right;
  float: right;
  text-transform: uppercase;
  @include grid-column(1);
  margin-left: 0;
  height: 60px;
  box-sizing: border-box;
  @include lg-up {
    @include grid-column(5);
    border: none;
    float: right;
  }
}

.nav__list {
  @include show-on-lg-up;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include lg-up {
    margin-right: -15px;
  }
}
.nav__item {
  display: inline-block;
  border-left: 1px solid $med-gray;
  background-color: $pitt-gold;
  position: relative;
  &:hover, &:focus-within {
    background-color: $pitt-dark-gold;
    transition: $transition-default;
  }
  @include md-up {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.nav__link {
  @include secondary-header-nav-link;
  &:focus {
    outline: none;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
