@import "../styles";

.nav {
  text-align: right;
  float: right;
  text-transform: uppercase;
  @include grid-column(1);
  margin-left: 0;
  height: 60px;
  box-sizing: border-box;
  @media screen and (min-width: $break-lg) {
    @include grid-column(5);
    border: none;
    float: right;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @media screen and (min-width: $break-lg) {
    margin-right: -15px;
  }
}
.nav__item {
  display: inline-block;
  border-left: 1px solid $med-gray;
  position: relative;
  &:hover {
    background-color: $deep-blue;
    transition: $transition-default
  }
  @media screen and (min-width: $break-md) {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.nav__link {
  @include secondary-header-nav-link;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
