@import "../styles";


.object__detail {
  font-family: $sans-serif-stack;
  background-color: $off-white;
  width: 100%;
  box-sizing: border-box;
  @media screen and (min-width: $break-lg) {
    width: 33%;
  }
}

.object__title {
  font-family: inherit;
  font-size: 28px;
  color: $deep-navy;
}
