@import "../styles";
@import "inputs";

.results__header, .results__footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  @media screen and (min-width: $break-md) {
    align-items: flex-end;
  }
  @media screen and (min-width: $break-lg) {
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}

.results__footer {
  margin-bottom: 30px;
  @media screen and (min-width: $break-lg) {
    justify-content: flex-end;
  }
}

.results__summary {
  width: 100%;
  @media screen and (min-width: $break-md) {
    width: 50%;
    order: 0;
  }
  @media screen and (min-width: $break-lg) {
    width: unset;
    order: 1;
    text-align: right;
  }
}

.results__summary--text {
  font-family: inherit;
  min-width: 225px;
  @media screen and (min-width: $break-lg) {
    margin-bottom: 0;
  }
}

.results__controls {
  width: 100%;
  @media screen and (min-width: $break-md) {
    order: 2
  }
  @media screen and (min-width: $break-lg) {
    width: unset;
    order: 0;
    flex-grow: 1;
  }
}

.results__pagination {
  width: 100%;
  @media screen and (min-width: $break-md) {
    width: 50%;
    order: 1;
    margin-bottom: 10px;
    text-align: right;
    align-self: flex-end;
  }
  @media screen and (min-width: $break-lg) {
    width: unset;
    order: 2;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}


.select__sort--wrapper {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-left: 16px;
}

.select__sort--wrapper .material-icons {
  font-size: 20px;
  top: 12px;
  right: 10px;
  position: absolute;
  pointer-events: none;
}

.select__sort select {
  @include input-text;
  font-size: 14px;
  background-color: $pure-white;
  border-radius: 0px;
  border: 1px solid $dark-gray;
  padding: 0px 15px;
  height: 45px;
  width: 200px;
}
