@import "../styles";
@import "./material-icon";
@import "./buttons";

.records__detail {
  background-color: $off-white;
  width: 100%;
  height: 100%;
  padding: 0px 30px 50px 30px;
  box-sizing: border-box;
  float: left;
  &.hidden {
    display: none;
    @media screen and (min-width: $break-lg) {
      display: unset;
    }
  }
  @media screen and (min-width: $break-md) {
    padding: 0px 40px 50px 40px;
  }
  @media screen and (min-width: $break-lg) {
    width: 40%;
    max-height: 100vh;
    position: sticky;
    top: 0;
    overflow: scroll;
  }
}

.records__title {
  font-family: $sans-serif-stack;
  font-size: 28px;
  color: $deep-navy;
}

.panel__section {
  box-sizing: border-box;
}

.panel__section--flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.found-in {
  font-family: $sans-serif-stack;
  font-size: 13px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.found-in__collection {
  padding-left: 20px;
  text-indent: -15px;
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8, <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="15px" viewBox="0 0 475.078 475.077" fill="%23192E49">
    <path d="M438.536,146.177H36.547c-4.952,0-9.235,1.807-12.85,5.424c-3.617,3.615-5.424,7.898-5.424,12.847v274.084
      c0,4.948,1.807,9.233,5.424,12.847c3.615,3.617,7.898,5.428,12.85,5.428h401.989c4.949,0,9.229-1.811,12.847-5.428
      c3.614-3.613,5.421-7.898,5.421-12.847V164.448c0-4.952-1.8-9.231-5.421-12.847C447.769,147.984,443.485,146.177,438.536,146.177z
       M286.927,232.113c-3.613,3.616-7.898,5.424-12.847,5.424h-73.089c-4.946,0-9.229-1.809-12.847-5.424
      c-3.615-3.617-5.424-7.898-5.424-12.85c0-4.948,1.809-9.231,5.424-12.847c3.617-3.617,7.9-5.426,12.847-5.426h73.096
      c4.945,0,9.227,1.809,12.847,5.426c3.614,3.615,5.421,7.898,5.421,12.847C292.355,224.214,290.544,228.496,286.927,232.113z"/>
    <path d="M469.658,23.695c-3.618-3.617-7.898-5.424-12.848-5.424H18.272c-4.948,0-9.231,1.807-12.847,5.424
      C1.809,27.31,0,31.593,0,36.542v73.089c0,4.948,1.809,9.229,5.426,12.847c3.616,3.617,7.898,5.424,12.847,5.424h438.531
      c4.948,0,9.233-1.807,12.854-5.424c3.613-3.617,5.42-7.898,5.42-12.847V36.542C475.078,31.59,473.271,27.31,469.658,23.695z"/>
    </svg>');
    margin-right: 10px;
    width: 10px;
  }
}

.found-in__subcollection {
  padding-left: 30px;
  text-indent: -15px;
  &::before {
    @extend .material-icons;
    content: "subdirectory_arrow_right";
    margin-right: 5px;
    width: 10px;
  }
}

.found-in__link {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: normal;
}
