@import "../styles";
@import "./material-icon";

.records__content {
  font-family: $sans-serif-stack;
  width: 100%;
  float: left;
  padding: 40px 30px;
  box-sizing: border-box;
  @include lg-up {
    width: calc(63% - #{$minimap-width});
  }
  &.hidden {
    @include show-on-lg-up;
  }
}

.loading {
  background: $dark-gray;
  opacity: 0.8;
  top: 60px;
  bottom: 58px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  @include md-up {
    top: 70px;
  }
  @include lg-up {
    top: 60px;
    bottom: 0;
    left: calc(37% + #{$minimap-width});
  }
}

.loading__text {
  font-size: 75px;
  color: $pure-white;
}

.content__title {
  font-family: $sans-serif-stack;
  font-size: 24px;
  color: $deep-navy;
  border-bottom: 1px dotted $deep-navy;
  margin-top: 0;
}

.collection__title {
  font-size: 21px;
  color: $dark-gray;
  margin-bottom: 0;
}

.collection__text {
  font-size: 16px;
}

.child__list {
  list-style: none;
  transition: $transition-default;
  padding-left: 20px;
  position: relative;
  &::before {
    content: "";
    background: $orange-gray;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 8px;
    top: -12px;
  }
}

.child__list--top-level {
  @extend .child__list;
  padding-left: 0;
  &::before {
    content: none
  }
}

.child__list--bottom-level {
  background-color: $pure-white;
  padding-left: 0px;
  &::before {
    content: none;
  }
}

.child__list-accordion {
  position: relative;
  border-radius: 3px;
}

.child__list-accordion--bottom-level {
  border: 3px solid $orange-gray;
  margin-bottom: 15px;
  &:hover {
    border-color: $red-orange;
  }
  &:focus-within {
    border-color: $deep-navy;
  }
}

// trims left border to the correct length
.child__list-accordion:last-of-type {
  &::before {
    content: "";
    width: 3px;
    background-color: #FFFFFF;
    height: calc(100% - 29px);
    position: absolute;
    top: 29px;
    left: -12px;
  }
}

.child__list-item {
  position: relative;
  padding: 20px;
  &:focus-within, &.active {
    border-color: $deep-navy;
  }
}

.child__list-item--object {
  border-bottom: 1px solid $neutral-sand;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:first-child {
    border-top: 1px solid $neutral-sand;
  }
  &:focus-within, &:hover, .active {
    background: $blue-gray;
  }
}

.child__list-item--collection {
  margin-bottom: 12px;
  border: 3px solid $orange-gray;
  border-radius: 3px;
  box-shadow: 0 0 4px $light-gray;
  & .material-icons {
    position: absolute;
    top: 15px;
    right: 15px;
    pointer-events: none;
  }
  &::before {
    content: "";
    width: 9px;
    height: 3px;
    border-bottom: 3px solid $orange-gray;
    position: absolute;
    top: 20px;
    left: -12px;
  }
  &:hover {
    border-color: $red-orange;
    & .material-icons {
      color: $red-orange;
    }
  }
  &:hover.active {
    border-color: inherit;
    &::after {
      color: inherit;
    }
  }
}

.child__list-item--collection.active {
  &::after {
    @extend .material-icons;
    content: "expand_less";
    position: absolute;
    top: 15px;
    right: 15px;
    pointer-events: none;
  }
}

.child__list-item--bottom-level {
  border: 0;
  margin-bottom: 0;
}

.child__list--bottom-level > .child__list-accordion {
  margin-top: 9px;
  margin-left: 9px;
  margin-right: 9px;
}

// Adds top border for objects following collections nested within objects
.child__list-accordion + .child__list-item {
  border-top: 1px solid #E3E1DD;
}

// removes before pseudo element from collections within object lists
.child__list--bottom-level .child__list-item--collection {
  &::before {
    content: none;
  }
}

// removes before pseudo element from top-level children
.child__list--top-level > div > .child__list-item--collection {
  &::before {
    content: none;
  }
}

.child__description {
  min-width: 0;
  order: 1;
  @include md-up {
    order: unset;
    flex-basis: 50%;
    flex-grow: 2;
  }
}

.child__buttons {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  order: 3;
  @include md-up {
    width: unset;
    order: unset;
    justify-content: flex-end;
    margin-bottom: 9px;
  }
}

.child__title {
  appearance: none;
  border: none;
  background: none;
  text-align: left;
  font-weight: $font-weight-bold;
  cursor: pointer;
  padding-left: 0;
  padding-right: 20px;
  &:focus {
    outline: none;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.child__title--object {
  font-size: 16px;
}

.child__title--collection {
  font-size: 18px;
}

.child__text {
  font-size: 14px;
  order: 2;
  @include md-up {
    order: unset
  }
}
