@import "../styles";
@import "./buttons";

.records__detail {
  background-color: $off-white;
  width: 100%;
  height: 100%;
  padding: 0px 30px 110px 30px;
  box-sizing: border-box;
  float: left;
  font-family: $sans-serif-stack;
  &.hidden {
    @include show-on-lg-up;
  }
  @include md-up {
    padding: 0px 40px 50px 40px;
  }
  @include lg-up {
    width: 37%;
    max-height: 100vh;
    position: sticky;
    top: 60px;
    overflow: scroll;
  }
}

.records__nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  @include md-up  {
    margin-top: 30px;
  }
}

.records__title {
  font-family: $sans-serif-stack;
  font-size: 28px;
  color: $deep-navy;
}

.panel__section {
  box-sizing: border-box;
  margin-right: 15px;
}

.panel__section--flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.found-in {
  font-family: $sans-serif-stack;
  font-size: 13px;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  & svg {
    width: 13px;
    vertical-align: middle;
    padding-right: 2px;
    fill: $deep-navy;
  }
}

.found-in__subcollection {
  & .material-icon {
    font-size: inherit;
    line-height: inherit;
    padding-right: 2px;
  }
}

.found-in__link {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: $font-weight-normal;
  text-decoration: underline;
}
