@import "../styles";

.saved-items__item-group,
.saved-items__loading,
.saved-items__empty {
  @include grid-column(12);
  border-top: 1px dotted $faded-navy;
  font-family: $sans-serif-stack;
}

.saved-items__empty {
  font-family: $sans-serif-stack;
  padding: 20px 0px;
  margin-top: 20px
}

.item-group__title {
  font-size: 20px;
  color: $dark-gray;
  border-bottom: none;
  margin-top: 24px;
  margin-bottom: 30px;
  padding: 0;
}

.saved-item {
  @include grid-column(12);
  margin-bottom: 40px;
  float: left;
}

.saved-item__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (min-width: $break-lg) {
    flex-wrap: nowrap;
  }
}

.saved-item__buttons {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  @media screen and (min-width: $break-lg) {
    width: unset;
  }
}

.saved-item__title {
  margin: 0 0 5px 0;
  font-size: 20px;
}

.modal-saved-item__title {
  @extend .saved-item__title;
  font-size: 14px;
}

@mixin saved-item-text {
  font-family: $sans-serif-stack;
  font-size: 14px;
  color: $dark-gray;
  line-height: 16px;
}

.saved-item__date {
  @include saved-item-text;
}

.saved-item__description {
  @include saved-item-text;
}

.saved-item__found-in {
  @include saved-item-text;
  & a {
    @include saved-item-text;
    color: $dark-gray;
    font-weight: normal;
    text-decoration: underline;
  }
}

.saved-item__last-requested {
  @include saved-item-text;
  font-style: italic;
}
