@import "../styles";

// .results__not-found {
//   margin-bottom: 60px;
// }

.results__not-found--text {
  font-family: $sans-serif-stack;
  font-size: 18px;
  // font-weight: 400;
  color: $night-grey;
}

// .results__not-found--link {
//   @extend .results__not-found--text;
//   text-decoration: underline;
//   font-weight: normal;
// }