@import "../styles";
@import "inputs";

input[type=search] {
  @include input-text;
  font-size: 18px;
}

.input-group__search {
  @include grid-column(12);
	display: flex;
  margin: 30px 0 110px 0;
  @media screen and (min-width: $break-md) {
    @include grid-column(9);
    margin: 59px 0 190px 0;
  }
  @media screen and (min-width: $break-lg) {
    margin: 64px 0 233px 0;
  }
}

.input__search {
  width:100%;
  @media screen and (min-width: $break-lg) {
    width: calc(100% - 220px);
  }
}

.input__search input {
  border: 1px solid $dark-gray;
  padding: 20px;
  width: 100%;
}

.select__search--wrapper {
  position: relative;
  display: none;
  @media screen and (min-width: $break-lg) {
    display: inline-block;
  }
}

.select__search--wrapper::after {
  font-family: 'Material Icons';
  content: "expand_more";
  font-size: 20px;
  top: 20px;
  right: 22px;
  position: absolute;
}

.select__search select {
  @include input-text;
  background-color: $pure-white;
  border-radius: 0px;
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
  padding: 20px;
  height: 62px;
  width: 180px;
}
