@import "../styles";
@import "inputs";
@import "material-icon";

input[type=search] {
  @include input-text;
  font-size: 18px;
}

.search-form--home {
  @include grid-column(12);
  display: flex;
  justify-content: center;
  margin: 30px 0 110px 0;
  @media screen and (min-width: $break-md) {
    margin: 59px 0 190px 0;
  }
  @media screen and (min-width: $break-lg) {
    margin: 64px 0 233px 0;
  }
}

.search-bar {
  width: 100%;
  background-color: $pale-blue;
  padding: 24px 0px;
}

.results, .search-form--results {
  margin: 0px 30px;
  @media screen and (min-width: $break-lg) {
    margin: 0px 80px;
  }
}

.search-form--results {
  max-width: 700px;
}

.input-group__search {
  display: flex;
}

.input__search {
  width:100%;
  @media screen and (min-width: $break-lg) {
    width: calc(100% - 220px);
  }
}

.input__search input {
  border: 1px solid $dark-gray;
  padding: 20px;
  width: 100%;
}

.select__search--wrapper {
  position: relative;
  display: none;
  box-sizing: border-box;
  cursor: pointer;
  @media screen and (min-width: $break-md) {
    display: inline-block;
  }
}

.select__search__indicator {
  top: 20px;
  right: 22px;
  position: absolute;
  pointer-events: none;
}

.select__search__control {
  @include input-text;
  font-size: 16px;
  background-color: $pure-white;
  border-radius: 0px;
  border-top: 1px solid $dark-gray;
  border-bottom: 1px solid $dark-gray;
  padding: 20px;
  height: 62px;
  width: 180px;
  box-sizing: border-box;
}

.select__search__menu {
  border-radius: 0 !important;
  top: -8px !important;
  padding-top: 4px !important;
  border: 1px solid $dark-gray !important;
}

.select__search__option {
  font-family: $sans-serif-stack;
  font-size: 16px;
  padding: 16px 18px;
  position: relative;
}

.select__search__option--is-selected {
  &::after {
    @extend .material-icons;
    font-size: 20px;
    content: "check";
    position: absolute;
    right: 18px;
    color: $burnt-orange;
  }
}

.select__search__option--is-focused {
  background: $lighter-gray;
}
