@import "../styles";

.rac-social-icons {
  @include lg-up {
    display: flex;
    justify-content: right;
  }
}

.social__icon {
  display: inline-block;
  height: 30px;
  width: 40px;
  margin-right: 15px;
  text-align: center;
  vertical-align: middle;
  pointer-events: visibleFill;
  &:hover {
    svg g, svg path {
      fill: $burnt-orange;
      transition: $transition-default;
    }
  }
}