@import "../styles";

.tile {
  display: inline-block;
  background: $off-white;
  border: 1px solid $orange-gray;
  box-shadow: 0 0 4px 0 $light-gray;
  border-radius: 4px;
  padding: 26px 20px 26px 20px;
  &:hover {
    border: 2px solid $red-orange;
    box-shadow: 0 0 8px 0 $light-gray;
    transition: $transition-default;
  }
}

.tile__title  { @include tile-title-text; }

.tile__date { @include tile-date-text; }

.tile__type-label { @include tile-type-label-text }

.tile__hit-count {
  @include tile-hit-count-text;
  background: $red-orange;
  border-radius: 0 0 2px 2px;
  padding: 7px 8px 5px 8px;
}
