@import "../styles";

.tile-list {
  display: inline-block;
  padding: 0;
  margin-left: -$gutters-default;
  margin-right: -$gutters-default;
}

.tile {
  @include grid-column(12);
  display: inline-block;
  box-sizing: border-box;
  background: $off-white;
  border: 1px solid $orange-gray;
  box-shadow: 0 0 4px 0 $light-gray;
  border-radius: 4px;
  padding: 26px 20px;
  margin-bottom: $gutters-default;
  &:hover {
    border: 2px solid $red-orange;
    padding: 25px 19px;
    box-shadow: 0 0 8px 0 $light-gray;
    transition: $transition-default;
  }
  @media screen and (min-width: $break-md) {
    @include grid-column(4);
    padding: 32px 20px;
    min-height: 210px;
    &:hover {
      padding: 31px 19px;
    }
  }
  @media screen and (min-width: $break-lg) {
    padding: 32px 26px;
    min-height: 220px;
    &:hover {
      padding: 31px 25px;
    }
  }
}

.tile__link  {
  display: block;
  &:hover {
    text-decoration: none;
  }
  @media screen and (min-width: $break-md) {
    min-height: 120px;
  }
  @media screen and (min-width: $break-lg) {
    min-height: 130px;
  }
}

.tile__title  {
  @include tile-title-text;
  margin-top: 8px;
  @media screen and (min-width: $break-lg) {
    margin-top: 10px;
  }
}

.tile__date {
  @include tile-date-text;
  margin-top: 8px;
  @media screen and (min-width: $break-lg) {
    margin-top: 10px;
  }
}

.tile__type-label { @include tile-type-label-text }

.tile__hit-count {
  @include tile-hit-count-text;
  float: right;
  background: $red-orange;
  border-radius: 0 0 2px 2px;
  padding: 7px 8px 5px 8px;
  margin-right: -2px;
  margin-top: -26px;
  @media screen and (min-width: $break-md) {
    margin-top: -32px;
  }
}
