
// Colors
$burnt-orange: #D8531E;
$red-brown: #A75C39; //tile label text
$med-brown: #9E3C0F;
$deep-brown: #662700; //NOT USED

$red-orange: #F16943;
$faded-orange: #F39452; //h4
$peach-orange: #FFCC99; //text highlight
$light-orange: #FFE5E5; //modal form error

$deep-navy: #192E49;
$faded-navy: rgba(25,45,73,0.5);
$dark-blue: #113768; //button hover
$deep-blue: #1A5096;
$light-blue: #C6D2DE;
$pale-blue: #EBEFF4;

$light-gray: rgba(0,0,0,0.15); //box shadow
$dark-gray: #2F2F2F;
$med-gray: #5B5B5B;
$light-med-gray: #A9A9A9; //button border
$orange-gray: #BCBAB4; //tile border
$neutral-sand: #E3E1DD;
$lighter-gray: #EDEDEB; //button hover
$off-white: #F6F6F4;
$pure-white: #FFFFFF;


// Layout
$content-width: 1440px;

$break-md: 580px;
$break-lg: 1024px;

$gutters-default: 15px;

// Typography
$sans-serif-stack: 'Lato', sans-serif;
$serif-stack: 'Manuale', serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

//Modals
$modal-content-margin: 40px;
$confirm-modal-content-margin: 100px;
$confirm-modal-content-margin-lg: 225px;
