// TODO: align colors between RAC website and DIMES. There are many close matches.


// Colors
$burnt-orange: #D8531E; //RAC logo, link, button, dropdown, form error, social icons hover
$med-brown: #9E3C0F; //button hover, and search button border
$deep-brown: #662700; //NOT USED

$red-orange: #F16943; //link hover, tile border hover, hit count
$faded-orange: #F39452; //h4
$light-orange: #FFE5E5; //modal form error

$deep-navy: #192E49;
$faded-navy: rgba(25,45,73,0.5);
$dark-blue: #113768; //button hover
$deep-blue: #1A5096; //button background and border, dropdown hover
$light-blue: #C6D2DE; //facet border and button border
$pale-blue: #EBEFF4; //background


$light-gray: rgba(0,0,0,0.15); //box shadow
$dark-gray: #2F2F2F; //typography and border
$med-dark-gray: #525252; //button color and nav border
$med-gray: #5B5B5B; //help and placeholder text
$light-med-gray: #A9A9A9; //button border
$orange-gray: #BCBAB4; //tile border
$neutral-sand: #E3E1DD; //footer background and border
$lighter-gray: #EDEDEB; //button hover
$light-grayish-yellow: #F8F8F7; //modal form background and homepage background
$off-white: #F6F6F4; //footer and button text and tile background
$pure-white: #FFFFFF; //skip link text, input background, button text, modal background, modal title




// Layout
$content-width: 1440px;

$break-md: 580px;
$break-lg: 1024px;

$gutters-default: 15px;

// Typography
$sans-serif-stack: 'Lato', sans-serif;
$serif-stack: 'Manuale', serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;

//Modals
$modal-content-margin: 40px;
