@import '../neat/neat';
@import '../variables/vars';

$neat-grid: (
  gutter: $gutters-default
);

$grid-column: (
  box-sizing: border-box
); //does this work??

.container--full-width {
  width: 100%;
  @include grid-container;
}

.container {
  width: calc(100% - (#{$gutters-default}) * 2);
  margin-left: $gutters-default;
  margin-right: $gutters-default;
  @include grid-container;
}
