@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Manuale:300,400,700|Material+Icons&display=swap');
@import '../variables/vars';

// TODO: better setting of base font attributes, so we can calculate
// TODO: use calculations for font sizes
// TODO: replace font weights with variables
// TODO: consider using relative units instead of pixels

p, a {
  font-family: $serif-stack;
  font-weight: $font-weight-normal;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 10px 0;
  color: $dark-gray;
  @media screen and (min-width: $break-lg) {
    font-size: 17px;
    line-height: 28px;
  }
}

strong, b {
  font-family: inherit;
  font-weight: $font-weight-bold;
}

em, i {
  font-family: inherit;
  font-style: italic;
}

h1 {
  font-family: $serif-stack;
  font-weight: $font-weight-bold;
  font-size: 32px;
  color: $dark-gray;
  @media screen and (min-width: $break-md) {
    font-size: 42px;
  }
  @media screen and (min-width: $break-lg) {
    font-size: 52px;
  }
}

h2, h3, h4, h5, h6 {
  font-family: $sans-serif-stack;
  font-weight: $font-weight-bold;
  color: $deep-navy;
  margin: 0px;
}

h2 {
  font-size: 21px;
  border-bottom: 1.5px dotted $faded-navy;
  padding-bottom: 12px;
  margin-bottom: 20px;
  margin-top: 60px;
  @media screen and (min-width: $break-lg) {
    margin-top: 0px;
    font-size: 28px;
    &:not(:first-child) {
      margin-top: 80px;
    }
  }
}

h3 {
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 10px;
  @media screen and (min-width: $break-lg) {
    font-size: 20px;
  }
}

h4 {
  font-size: 14px;
  color: $faded-orange;
  @media screen and (min-width: $break-lg) {
    font-size: 16px;
  }
}

a {
  font-weight: 700;
  color: $burnt-orange;
  text-decoration: none;
  transition: $transition-default;
  &:focus {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
    color: $red-orange;
    cursor: pointer;
  }
}

ul {
  font-family: $serif-stack;
  line-height: 23px;
  @media screen and (min-width: $break-lg) {
    font-size: 17px;
    line-height: 24px;
  }
}

small {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
  @media screen and (min-width: $break-lg) {
    font-size: 15px;
    line-height: 21px;
  }
}

.small {
  @extend small;
}

@mixin footer-primary-title-text {
  font-family: $sans-serif-stack;
  font-weight: 900;
  font-size: 21px;
  letter-spacing: 4px;
  line-height: 26px;
  text-transform: uppercase;
}

@mixin footer-primary-text {
  font-family: $serif-stack;
  font-weight: 400;
  font-size: 15px;
  color: $deep-navy;
  line-height: 22px;
  margin-bottom: 10px;
}

@mixin footer-primary-link {
  @include footer-primary-text;
  text-decoration: underline;
  font-weight: $font-weight-normal;
  &:hover {
    color: $burnt-orange;
    transition: $transition-default;
  }
}

@mixin footer-secondary-text {
  @include footer-primary-text;
  color: $pure-white;
}

@mixin footer-secondary-link {
  @include footer-secondary-text;
  text-decoration: underline;
  &:hover {
    color: $off-white;
    transition: $transition-default;
  }
}

@mixin secondary-header-text {
  font-family: $sans-serif-stack;
  color: $pure-white;
  font-size: 12px;
}

@mixin secondary-header-title {
  @include secondary-header-text;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 13px;
  font-weight: 900;
  &:hover {
    color: $off-white;
  }
  @media screen and (min-width: $break-md) {
    line-height: 18px;
    font-size: 15px;
  }
}

@mixin secondary-header-subtitle {
  @include secondary-header-text;
  font-style: italic;
  line-height: 13px;
}

@mixin secondary-header-nav-link {
  @include secondary-header-text;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 60px;
  &:hover {
    color: $off-white;
  }
  @media screen and (min-width: $break-md)  {
    line-height: 70px;
  }
  @media screen and (min-width: $break-lg)  {
    line-height: 60px;
  }
}

@mixin tile-text {
  font-family: $sans-serif-stack;
}

@mixin tile-title-text {
  @include tile-text;
  font-weight: 700;
  font-size: 18px;
  color: #2F2F2F;
  line-height: 22px;
}

@mixin tile-date-text {
  @include tile-text;
  font-weight: 400;
  font-size: 15px;
  color: #2F2F2F;
}

@mixin tile-hit-count-text  {
  @include tile-text;
  font-size: 11px;
  line-height: 11px;
  color: #FFFFFF;
}

@mixin tile-type-label-text {
  @include tile-text;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  color: #A75C39;
  letter-spacing: 0.1em;
  line-height: 12px;
}

@mixin page-title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $sans-serif-stack;
  font-size: 24px;
  color: $deep-navy;
  @media screen and (min-width: $break-lg) {
    font-size: 28px;
  }
}

.agent__title {
  @include page-title;
}

.agent__subtitle {
  margin-top: 8px;
  margin-bottom: 40px;
  font-family: $sans-serif-stack;
  font-size: 16px;
  color: $dark-gray;
}

.agent__section-title {
  text-transform: uppercase;
  font-family: $sans-serif-stack;
  font-size: 14px;
  color: $deep-navy;
  padding-bottom: 12px;
  letter-spacing: 2px;
}

.agent-attribute__label {
  font-family: $sans-serif-stack;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  margin: 0px;
  color: $dark-gray;
}

.agent-attribute__value  {
  font-family: $sans-serif-stack;
  font-size: 16px;
  color: $dark-gray;
}

.hero__text {
  font-family: $serif-stack;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $dark-gray;
  @media screen and (min-width: $break-md) {
    @include grid-column(9);
    font-size: 28px;
    line-height: 38px;
  }
  @media screen and (min-width: $break-lg) {
    @include grid-column(7);
    font-size: 34px;
    line-height: 42px;
  }
}

.mylist__title {
  @include page-title;
  float: left;
  @media screen and (min-width: $break-lg) {
    float: none;
  }
}
