@import "../variables/vars";

$transition-default: all 0.2s ease;

@mixin visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:focus {
      clip: auto;
      height: auto;
      overflow: auto;
      position: absolute;
      width: auto;
      z-index: 99;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.flex {
  display: flex;
}

.show-on-md-up {
  display: none;
  @media screen and (min-width: $break-md) {
    display: block;
  }
}

.hide-on-md-up {
  display: block;
  @media screen and (min-width: $break-md) {
    display: none
  }
}

.show-on-lg-up {
  display: none;
  @media screen and (min-width: $break-lg) {
    display: block;
  }
}

.hide-on-lg-up {
  display: block;
  @media screen and (min-width: $break-lg) {
    display: none;
  }
}

.icon-spin {
  & .material-icons {
    animation-name: spin-counterclockwise;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
