$transition-default: all 0.2s ease;

@mixin visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:focus {
      clip: auto;
      height: auto;
      overflow: auto;
      position: absolute;
      width: auto;
      z-index: 99;
  }
}

.visually-hidden {
  @include visually-hidden;
}

.flex {
  display: flex;
}

@mixin show-in-lg {
  display: none;
  @media screen and (min-width: $break-lg) {
    display: block;
  }
}
